body{
    margin:0;
}

.layout {
  display:flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding:10%;
}

#scene1 {
    
}

.item {
    width:80%;
    height:10%;
    background-color:lightgrey;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    margin:2%;
}